<div class="component-container">

  <section>
    <mat-nav-list>
      <mat-list-item (click)="setPanel('test')">
        <mat-icon>inventory_v2</mat-icon>&nbsp;
        Un panel
      </mat-list-item>
    </mat-nav-list>
  </section>

  <mat-divider></mat-divider>

  <section>
    <mat-nav-list>
      <mat-list-item (click)="setPanel('expandable-list')">
        <mat-icon>category</mat-icon>&nbsp;
        Categorías
      </mat-list-item>
    </mat-nav-list>
  </section>

  <mat-divider></mat-divider>

  <section>
    <mat-nav-list>
      <mat-list-item (click)="setPanel('provider-list')">
        <mat-icon>business</mat-icon>&nbsp;
        Empresas
      </mat-list-item>
    </mat-nav-list>
  </section>

  <!--LOGOS?-->

</div>
