
<h1>Ejemplos de Base</h1>

<div class="section-cols">
  <section class="section-col">
    <h3>Dialogos</h3>
    <button mat-button (click)="openExampleDialog()">Diálogo simple</button>
    <button mat-button (click)="openDialogWithData()">Diálogo pasando datos</button>
    <button mat-button (click)="openDialogWithData('readonly')">Diálogo solo lectura</button>
    <button mat-button (click)="openExamplePicker()">Picker</button>
  </section>

  <section class="section-col">
    <h3>Misc</h3>
    <button mat-button (click)="alertUUID()">UUID</button>

  </section>

</div>
