<mat-toolbar color="primary">
  <span class="title" (click)="setFrame('home')">Fatecha JS</span>
  <span class="spacer"></span>

  <!-- Menu for smaller screens -->
  <button mat-icon-button [matMenuTriggerFor]="mobileMenu" class="mobile-menu-button">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Regular buttons for larger screens -->
  <div class="desktop-menu-buttons">
    <button mat-button [matMenuTriggerFor]="framesMenu">Frames</button>
    <mat-menu #framesMenu="matMenu">
      <button mat-menu-item (click)="setFrame('mainFrame')">MainFrame</button>
      <button mat-menu-item (click)="setFrame('contentFrame')">ContentFrame</button>
    </mat-menu>

    <button mat-button (click)="setFrame('panels')">Panels</button>
    <button mat-button (click)="setFrame('dialogs')">Dialogs</button>
    <button mat-button (click)="setFrame('components')">Components</button>
  </div>

  <!-- Dropdown menu for smaller screens -->
  <mat-menu #mobileMenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="framesMenu">Frames</button>
    <mat-menu #framesMenu="matMenu">
      <button mat-menu-item (click)="setFrame('mainFrame')">MainFrame</button>
      <button mat-menu-item (click)="setFrame('contentFrame')">ContentFrame</button>
    </mat-menu>
    <button mat-menu-item (click)="setFrame('panels')">Panels</button>
    <button mat-menu-item (click)="setFrame('dialogs')">Dialogs</button>
    <button mat-menu-item (click)="setFrame('components')">Components</button>
  </mat-menu>
</mat-toolbar>
